@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark-gray: 45 55 72;
        --orange: 237 137 54;
        --white: 255 255 255;
        --light-gray: 237 242 247;
        --black: 26 32 44;
    }

    /* Variables para el tema */
    :root {
        --background: var(--white);
        --primary: var(--dark-gray);
        --secondary: var(--orange);
        --accent: var(--black);
    }

    :root.dark {
        --background: var(--black);
        --primary: var(--light-gray);
        --secondary: var(--orange);
    }
}